.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.445)),
    url("../../Images/dogs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.banner>h1 {
    margin: 1vmax;
    font: 600 2.5vmax "Poppins";
}

.banner>p {
    font: 400 1.4vmax "Poppins";
}

.banner > a{
    text-decoration: none;
}

.banner>a>button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 9vmax;
    font: 500 1vmax "Poppins";
}

.banner>a>button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
}

.homeHeading {
    text-align: center;
    font-family: "Poppins";
    font-size: 2.3vmax;
    font-weight: 400;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 26vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    width: 18vmax;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    border-radius: 5px;
}

.productCard>img {
    width: 18vmax;
    height: 18vmax;
    object-fit: cover;
}

.productCard>div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCardSpan {
    margin: 0.5vmax;
    font: 300 01vmax "Poppins";
}

.productCard>p {
    font-family: "Poppins";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard>span {
    margin: 0.5vmax;
    font-size: 1.4vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .productCard>p {
        font-size: 1.7vmax;
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Poppins";
    }
}