:root {
    --bg-color: #ffffff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}

.contact {
    padding: 50px 9% 40px;
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    align-items: center;
}

.contact-content h5 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.contact-content li {
    margin-bottom: 12px;
}

.contact-content li a {
    display: block;
    font-size: 15px;
    color: #374151;
    font-weight: 400;
    transition: all .45s ease;
}

.contact-content li a:hover {
    color: var(--text-color);
    transform: translateX(-5px);
}

.end-text p {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--other-color);
}

@media (max-width: 1700px) {
    header {
        padding: 12px 3%;
    }

    header.sticky {
        padding: 10px 3%;
    }

    section {
        padding: 80px 3% 70px;
    }

    .home {
        gap: 1rem;
    }
}

@media (max-width: 1515px) {
    :root {
        --big-font: 3.3rem;
        --h2-font: 2rem;
    }
}


@media (max-width: 1410px) {
    .row-text h6 {
        margin-bottom: 5px;
    }

    .row-text h3 {
        margin-bottom: 1rem;
    }

    .cta-text {
        margin-left: 55px;
    }

    .home {
        height: 90vh;
    }
}

@media (max-width: 1200px) {
    #menu-icon {
        display: initial;
        height: 50px;
        width: 50px;
        background: #f7f9fb;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--other-color);
        font-size: 32px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 125vh;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 130px 30px;
        transition: all .45s ease;
    }

    .navbar a {
        display: block;
        margin: 1.1rem 0;
    }

    .navbar.open {
        right: 0;
    }
}

@media (max-width: 940px) {
    .home {
        grid-template-columns: 1fr;
        text-align: center;
        height: 117vh;
    }

    .home-img img {
        width: 500px;
        max-width: 100%;
        height: auto;
    }

    .home-text {
        padding-top: 50px;
    }

    .icons i {
        margin-right: 15px;
        margin-left: 5px;
    }
}

@media (max-width: 580px) {
    :root {
        --big-font: 3rem;
        --h2-font: 1.8rem;
    }

    .cta-text {
        margin-left: 30px;
    }

    .cta-text h3 {
        font-size: 2.4rem;
    }
}