* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins',
        sans-serif;
    text-decoration: none;
    list-style: none;
}

.greenColor {
    color: green !important;
}

.redColor {
    color: red !important;
}